/*
Theme Name: Custom
Author: Hernan Baigorria
Author URI: 
Description: Tema realizado con una estructura base de bootstrap v4.
Version: 2.0
License: None
*/

/* GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');


html, body {
  
}

body {
	font-size: 12px;
	background:#fff;
}


/* FONT CLASSES ////////////////////////////////////////////// */

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.alegreya {
	font-family: 'Alegreya', serif;
}

.gotham_light {
  font-family: 'Gotham-light', serif;
}


/* PRESETS CLASSES /////////////////////////////////////////// */


.font-size-1 {

	font-size:33pt;
}

.font-size-2 {

	font-size:40pt;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.clearfix {
    clear: both;
}

.margin-0 {
	margin: 0;
}

.padding-0 {
	padding: 0;
}

.padding-20 {
	padding: 20px;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-right-0 {
	padding-right: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.row {
	margin: 0;
}

.cont-full-w {
	width: 100%;
	position: relative;
	padding: 50px 0;
}

.salud-img {

	max-width:100%;
	height:auto;
	display:block;
}

.grid-cont {

  margin-bottom:30px;
}


.img-responsive {max-width:100%;}




h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	margin: 0 0 10px 0;
	line-height: 120%;
}

	h1, .h1, h2, .h2 {
		line-height: 90%;
	}

h1, .h1 {
	font-size: 54px;
}

h2, .h2 {
	font-size: 48px;
}

h3, .h3 {
	font-size: 43px;
}

h4, .h4 {
	font-size: 30px;
}

h5, .h5 {
	font-size: 18px;
	line-height: 24px;
}

h6, .h6 {
	font-size: 15px;
	line-height: 22px;
}

p {
	font-size: 12px;
	line-height: 18px;
}

a, a:hover {
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}

a:hover {
	color: #8f875f;
}

.bold {
	font-weight: 700;
}

.medium {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	margin: 0;
	list-style: none;
}

hr {
	border-top: 2px solid #FFF;
}

input, textarea {
	padding: 15px;
	border: 0;
	float: left;
	font-size: 16px;
	margin-bottom:20px;
}


.color-navbar {

	    background: rgba(4,193,221,0.8);
    width: 100%;

}

.padding-left0{

	padding-left: 0;
	width:35% !important;
}

.btn-enviar {

	width:90%;
	margin-bottom:20px;
}

	input.campo {
		    margin-left: 29%;
	}

input[type="submit"] {
	background: #747269;
	color: #FFF;
	padding: 13px 16px;
	margin-bottom:0;
}

input[type="submit"]:hover {
	background: #C9C4A6;
}

::-webkit-input-placeholder {
   color: #747269;
   font-family: "Alegreya", serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #747269;
   font-family: "Alegreya", serif;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #747269;
   font-family: "Alegreya", serif;  
}

:-ms-input-placeholder {  
   color: #747269; 
   font-family: "Alegreya", serif; 
}

a.btn {
	padding: 10px 25px;
	color: #e0ded2;
	background: transparent;
	border: 1px solid #e0ded2;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	max-width: 130px;
}

a.btn:hover {
	background: #e0ded2;
}



/* COLOR - CLASSES */

.black {
	color: #000;
}

.white {
	color: #FFF;
}

.gris-1 {
	color: #445254; 
}

.gris-2 {
	color: #A92241; 
}

.blanco {
	color: #fff; 
}

.gris-3 {
	color: #c9c4a6;
}

.gris-4 {
	color: #393936;
}

.gris-5 {
	color: #a8a18d;
}

.verde {
	color: #8f875f;
}

.bg-black {
	background-color: #000;
}

.bg-white {
	background-color: #FFF;
}

.bg-gris-1 {
	background: transparent; 
}

.bg-verde {

	    background: #897d31;
}

.bg-celeste {

	background: #1eb3ba;
}

.bg-gris-2 {
	background: #621123; 
}

.bg-gris-3 {
	background: #c9c4a6; 
}

.bg-gris-4 {
	background: #445254; 
}

.bg-gris-5 {
	background: #a8a18d; 
}

.bg-verde {
	color: #8f875f;
}

.bg-marron {

	background:#6b6125;
}

.bg-amarillo {

	background:#ddae0d;
}
.bg-celeste {

	background:#2ecde4;
}


.btn-volver {

	margin-top: 20px;
	float:left;
}




/*YOUR CSS*/

.custom-nav ul li {display:inline-block;margin:0 15px;}
.custom-nav ul li a {text-decoration:none;color:#27313c;text-decoration:none;transition:.6s;font-family: 'Oswald', sans-serif;text-transform:uppercase;font-size: 0.9rem;border: 1px transparent solid;padding: 3px 5px;}
.custom-nav ul li a:hover {text-decoration:none;color:#3fa6a6;text-decoration:none;transition:.6s;}

.current-menu-item a {color:#3fa6a6 !important;}

.menu-item-16 a {-webkit-animation-name: myfirst; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: myfirst;
    animation-duration: 2s;}

    @-moz-keyframes myfirst  {
        0% {color:#27313c;border-color:transparent;font-weight:500;}
    50% {color:#ff4900;border-color:rgba(245, 77, 8, 0.27);font-weight:500;}
    100% {color:#27313c;border-color:transparent;font-weight:500;}
    }

    @-webkit-keyframes myfirst  {
        0% {color:#27313c;border-color:transparent;font-weight:500;}
    50% {color:#ff4900;border-color:rgba(245, 77, 8, 0.27);font-weight:500;}
    100% {color:#27313c;border-color:transparent;font-weight:500;}
    }

.custom-nav .navbar-nav {width:100%;float:right;}
.custom-nav .menu-main-container {width:100%;float:right;text-align:right;}

.carousel-indicators {padding: 0 20px;width: 100%;right: inherit;z-index: 2;bottom: 0;margin-left: 0%;margin-right: auto;text-align: left;align-items: flex-start !important;justify-content: flex-start;}

.logo {width:140px;}

.text-absulote {position: relative;left: 0%;top: 0;bottom: 0;max-width: 250px;}
.text-absulote hr {width: 60%;border-color: #494949;margin-right: auto;margin-left: 0;}
.text-absulote h3 {font-size:30px;color: #fff;font-family: 'Oswald', sans-serif;font-weight: bold;margin-right: auto;text-transform: uppercase;}
.text-absulote p {color: #494949;font-family: 'Montserrat', sans-serif;font-size: 1rem;font-weight: 600;}

.max-w-rectangle {max-width: 43%;width: 100%;}

.carousel-indicators .active {background-color: #494949 !important;border: 3px #494949 solid;}
.carousel-indicators li {border-radius:100%;margin-left: 15px;background: transparent !important;border: 3px #fff solid;max-width: 12px;height: 12px;}


.slider-content {background:url(../as-template/images/Slider_home_01.jpg);background-size: cover !important;width: 100%;min-height:560px;}

.slider-content-exp {background:url(../as-template/images/Slider_home_exp_01.jpg);background-size: cover;width: 100%;min-height: 458px;background-position: center;}
.slider-content-exp h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.slider-content-exp hr {border-color: #494949;width: 100%;margin: 20px 0 25px;}
.slider-content-exp p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 700;line-height: 18px;font-size: 0.84rem;margin: 0 0 35px;height:100px;}

.arrows {padding:0 15px;}
.arrows .carousel-control-prev, .arrows .carousel-control-next {position: relative;display: inline-block;width: auto;}
.arrows .carousel-control-next {margin-left: 25px;}
.arrows i {    color: #000;font-size: 30px;}
.box-shadow {box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.14);border-radius: 100%;border: none;}

.sobre_mi {padding:85px 0;background:#f9f9f9}
.sobre_mi h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.sobre_mi hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.sobre_mi p {font-family: 'Montserrat', sans-serif;color: #494949;margin: 5px 0 15px;font-weight: 600;font-size: 0.9rem;}

.btn-home {display: inline-block;font-family: 'Oswald', sans-serif;color: #fff;background: #494949;padding: 10px 40px;margin-top: auto;font-size: 0.95rem;text-transform: uppercase;font-weight: 500;border:2px transparent solid;transition:.6s;}
.btn-home:hover, .btn-home:focus {transition:.6s;color: #494949;background: #fff;border:2px #494949 solid;text-decoration:none;outline:none;}


.icons {padding:80px 0;}
.icons h2 {font-size: 1.3rem;margin-top: 20px;margin-bottom: 0;color: #929292;font-family: 'Oswald', sans-serif;font-weight: 500;text-transform: uppercase;line-height: 30px;letter-spacing: 3px;}
.icons .btn-home {margin-top:80px;}

.hover-propiedades {overflow:hidden;}
.hover-propiedades:hover {text-decoration:none;}
.hover-propiedades:hover .propiedad_back_01 {transform: scale(1.05);transition:transform .6s;}
.hover-propiedades:hover .propiedad_back_01 h3 {background:rgba(63, 166, 166, 0.70);transition:.6s;}
.hover-propiedades:hover .propiedad_back_02 {transform: scale(1.05);transition:transform .6s;}
.hover-propiedades:hover .propiedad_back_02 h3 {background:rgba(73, 73, 73, 0.70);transition:.6s;}
.propiedad_back_01 {transition:transform .6s;background:url('../as-template/images/t_propiedad_home_01.jpg');background-size:cover;min-height:90vh;width:100%;}
.propiedad_back_01 h3 {margin: 0;color: #fff;font-family: 'Oswald', sans-serif;font-size: 1.4rem;text-transform: uppercase;font-weight: 600;letter-spacing: 1px;height: 100%;width: 100%;position: absolute;transition:.6s;background:transparent;text-align:center;}

.propiedad_back_02 {transition:transform .6s;background:url('../as-template/images/t_propiedad_home_02.jpg');background-size:cover;min-height:90vh;width:100%;}
.propiedad_back_02 h3 {margin: 0;color: #fff;font-family: 'Oswald', sans-serif;font-size: 1.4rem;text-transform: uppercase;font-weight: 600;letter-spacing: 1px;height: 100%;width: 100%;position: absolute;transition:.6s;background:transparent;}

.map {position:relative;}
.map:hover .layer {z-index:-1;transition:.6s;background:transparent;}
.map iframe {width:100%;position:relative;border: 0;overflow: hidden;line-height: normal;margin: 0 0 -5px;}
.map .layer {position:absolute;top:0;left:0;right:0;bottom:0;background: rgba(110, 196, 198, 0.5);z-index: 0;transition:.6s;}

.contacto {padding:85px 0;background:#f9f9f9}
.contacto h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.contacto hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.contacto p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 700;line-height: 18px;font-size: 0.84rem;margin: 0 0 35px;}
.contacto p a {color:inherit;}
.contacto p a:hover {opacity:.6;transition:.6s;text-decoration:none;color:inherit;}


.middle-box h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.middle-box hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.middle-box p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 700;line-height: 18px;font-size: 0.84rem;margin: 0 0 35px;}

.middle-box-propuesta {background:url('../as-template/images/propuesta_img_01.jpg');background-size:cover;background-position:center;min-height:445px;}
.middle-box-propuesta h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.middle-box-propuesta hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.middle-box-propuesta p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 700;line-height: 18px;font-size: 0.84rem;margin: 0 0 35px;}

.propiedades-info {padding:80px 0;}
.propiedades-info img {margin: 0 10% 20px;max-width: 110px;}
.propiedades-info h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size:1.9rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.propiedades-info hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.propiedades-info p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 500;line-height: 18px;font-size: 0.84rem;margin: 0;}
.propiedades-info h2 {color: #494949;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 1.4rem;margin: 25px 0 15px;letter-spacing: normal;font-weight: 400;}

.casos_de_exito {padding:60px 0 50px;}
.casos_de_exito h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.casos_de_exito hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.casos_de_exito h4 {color: #929292;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 1.5rem;margin: 25px 0 15px;letter-spacing: 2px;font-weight: 600;}
.casos_de_exito .info-comercial h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 1.4rem;margin: 25px 0 0;letter-spacing: 2px;font-weight: 500;}
.casos_de_exito .info-comercial hr {margin:10px 0 20px}
.casos_de_exito .info-comercial h1 {font-family: 'Montserrat', sans-serif;font-size: 0.93rem;font-weight: 600;max-width: 45%;line-height: 20px;}
.casos_de_exito .info-comercial h2 {font-family: 'Montserrat', sans-serif;text-transform: uppercase;font-weight: 600;font-size: 1rem;margin: 35px 0 15px;color: #929292;}
.casos_de_exito .info-comercial p {font-family: 'Montserrat', sans-serif;font-size: 0.96rem;font-weight: 500;color: #494949;margin: 0 0 25px;line-height: 19px;}
.comerciales {padding:85px 0;background:#f9f9f9}
.comerciales h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.comerciales hr {border-color:#494949;width:100%;margin: 20px 0 25px;}
.comerciales p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 600;line-height: 18px;font-size: 0.9rem;margin: 0 0 45px;}
.comerciales h4 {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 600;line-height: 23px;font-size: 1.1rem;margin: 0 0 15px;text-transform: uppercase;}
.comerciales ul {padding: 0 15px;list-style: disc;}
.comerciales ul li {font-size: 0.7rem;}
.comerciales ul li p {margin: 0;display: inline-block;font-size: 0.85rem;}


.propuesta {padding:85px 0;background:#f9f9f9}
.propuesta p {color: #494949;font-family: 'Montserrat', sans-serif;font-weight: 600;line-height: 18px;font-size: 0.88rem;margin: 0 0 45px;}
.propuesta h3 {color: #494949;font-family: 'Oswald', sans-serif;font-weight: 400;line-height: 28px;font-size: 1.25rem;margin: 0 0 15px;text-transform: uppercase;}

.title-info h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 1.4rem;margin: 25px 0 0;letter-spacing: 2px;font-weight: 500;}
.title-info hr {border-color:#494949;width:100%;margin:10px 0 20px;}
.info h2 {font-family: 'Montserrat', sans-serif;font-size: 0.93rem;font-weight: 600;max-width: 45%;line-height: 20px;}
.info h4 {font-family: 'Montserrat', sans-serif;text-transform: uppercase;font-weight: 600;font-size: 1rem;margin:35px 0 15px;color: #929292;}
.info h1 {font-family: 'Montserrat', sans-serif;text-transform: uppercase;font-weight: 600;font-size: 1rem;margin:35px 0 15px;color: #929292;}
.info p {font-family: 'Montserrat', sans-serif;font-size: 0.96rem;font-weight: 500;color: #494949;margin: 0 0 25px;line-height: 19px;}
.info-int {font-family: 'Montserrat', sans-serif;font-size: 0.96rem;font-weight: 500;color: #494949;margin: 0 0 25px;line-height: 19px;}
.info .ficha_tecnica ul {list-style: disc;font-family: 'Montserrat', sans-serif;font-size: 0.96rem;font-weight: 600;color: #494949;margin: 0 0 25px;line-height: 19px;}
.contacto input, .contacto textarea {width: 100%;padding: 10px 15px;background: #3fa6a6;color: #fff;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;letter-spacing: 1px;}
.contacto textarea {max-height: 125px;margin-bottom: 50px;}

.newsletter {padding:40px 0 5px}
.newsletter input, .newsletter textarea {width: 100%;padding: 10px 15px;background: #fff;color: #3fa6a6;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;letter-spacing: 1px;}
.newsletter #send {color:#fff;}
.newsletter h3 {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 0.9rem;margin: 12px 0;text-align: center;}

.middle-box {background:url('../as-template/images/comercial_img_01.jpg');background-size:cover;background-position:center;min-height:450px;}

.screen-reader-text {display:none;}
.custom-filter input[type="submit"] {display:none;}

/* Form */
form ol { list-style: none; padding: 0; }        
label { display: block; width: 100%; font-weight: 700; margin-top: 1em; }
#submit-container { overflow: hidden; }
#send {padding: 8px 50px;float: left;display: inline-block;width: auto;text-transform: uppercase;background: #494949;transition:.6s;border:2px transparent solid;}
#send:hover {background: transparent;color:#494949;border:2px #494949 solid;transition:.6s;cursor:pointer;}
#loading { width: 100%; height: 32px; display: none; margin-left: 0.75em; float: left; background: url(../as-template/images/ajax-loader.gif);background-size: contain;background-position: left;background-repeat: no-repeat;}
#loading-n { width: 100%; height: 32px; display: none; margin-left: 0.75em; float: left; background: url(../as-template/images/ajax-loader.gif);background-size: contain;background-position: left;background-repeat: no-repeat;}
.instruction { font-style: italic; }        
.star { color: red; }
input.error, textarea.error { -webkit-box-shadow: 0px 0px 2px 0px #fa301e; -moz-box-shadow: 0px 0px 2px 0px #fa301e; box-shadow: 0px 0px 2px 0px #fa301e; }
label.error { color: red; display: none !important; margin-left: 0.5em; }

/* Submit Message */
.failure { color: red; background: pink }
.success { color: green; background: lightgreen; }
.success, .failure {padding: 0;background: transparent;font-family: 'Oswald', sans-serif;font-size: 0.87rem;}
#submit-message { margin-top: 10px; clear: both; }        

/* Utility */
.hidden { display: none !important; visibility: hidden; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}

.newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}
.newsletter ::-moz-placeholder { /* Firefox 19+ */
  color: #000;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}
.newsletter :-ms-input-placeholder { /* IE 10+ */
  color: #000;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}
.newsletter :-moz-placeholder { /* Firefox 18- */
  color: #000;font-family: 'Oswald', sans-serif;font-size: 0.95rem;font-weight: 500;
}

.portada_sobre_mi {background:url('../as-template/images/sobre_mi_portada.jpg');background-size:cover;min-height:60vh;background-position:90%;}

.portada_sobre_mi h3 {font-family: 'Oswald', sans-serif;color: #fff;font-size:2rem;margin: 0;letter-spacing: 2px;font-weight: 600;}

.propuesta_fondo {background:url('../as-template/images/propuesta_fondo.jpg');background-size:cover !important;min-height:60vh;}

.propuesta_fondo h3 {font-family: 'Oswald', sans-serif;color: #fff;font-size: 2.06rem;margin: 0;letter-spacing: 2px;font-weight: 600;text-transform:uppercase;}

.comerciales_fondo {background:url('../as-template/images/comcerciales_portada.jpg');background-size:cover !important;min-height:60vh;}

.comerciales_fondo h3 {font-family: 'Oswald', sans-serif;color: #fff;font-size: 2.06rem;margin: 0;letter-spacing: 2px;font-weight: 600;text-transform:uppercase;}

.residencial_fondo {background:url('../as-template/images/recidenciales_portada.jpg');background-size:cover !important;min-height:60vh;}

.residencial_fondo h3 {font-family: 'Oswald', sans-serif;color: #fff;font-size: 2.06rem;margin: 0;letter-spacing: 2px;font-weight: 600;text-transform:uppercase;}

.portada_contacto {background:url('../as-template/images/contacto_portada.jpg');background-size:cover !important;min-height:60vh;}

.portada_contacto h3 {font-family: 'Oswald', sans-serif;color: #fff;font-size:2rem;margin: 0;letter-spacing: 2px;font-weight: 600;text-transform:uppercase;}

.custom-nav {position: fixed;top: 0;z-index: 99;background: #fff;box-shadow:2px -1px 6px 1px rgba(0, 0, 0, 0.72);}

.index-item {background-position:center !important;background-size:cover !important;min-height:215px;}

.mg-80 {margin-top:45px;}

.p-r-0 {padding-right:0;}
.m-left-15 {margin-left:-15px}

.grilla {padding:85px 0;}

.title-grilla {padding:0 0 15px;}
.title-grilla h3 {color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 2.16rem;margin: 0;letter-spacing: 2px;font-weight: 600;}
.title-grilla hr {border-color:#494949;width:100%;margin: 20px 0 25px;}

.info-item {padding: 15px 10px 25px;background: #f4f4f4;margin-bottom: 25px;min-height:280px;display:flex;flex-direction:column;}
.info-item h3 {text-align:left;color: #3fa6a6;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 1.2rem;margin: 0 0 0;letter-spacing: normal;font-weight: 600;}
.info-item h2 {text-align:left;color: #929292;font-family: 'Montserrat', sans-serif;font-size:0.97rem;margin: 0 0 10px;letter-spacing: normal;font-weight: 600;}
.info-item p {text-align:left;color: #494949;font-family: 'Montserrat', sans-serif;font-size: 0.9rem;line-height: normal;margin: 0 0 6px;letter-spacing: normal;font-weight: 600;}
.info-item p strong {font-weight:700;}
.info-item h5 {text-align:left;color: #494949;font-family: 'Montserrat', sans-serif;font-size: 0.9rem;line-height: normal;margin: 0 0 10px;letter-spacing: normal;font-weight: 600;}
.info-item hr {border-color:#494949;width:100%;margin:13px 0 13px;}

.absolute-lupa {position:absolute;top:18px;z-index:9;}

.menu-item:hover .sub-menu {display:block}
.sub-menu {position: absolute;text-align: left;display: none;background: #fff;padding: 5px 15px;box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.32);margin-top: 0;}
.menu-item .sub-menu li {margin: 5px 0;display:block;}

.parallax img {width:100%;}

.custom-filter .sf-item-0 {display:none;}
.custom-filter input[type=checkbox], .custom-filter input[type=radio] {display:none;}
.custom-filter li {display:block;}
.custom-filter li a {color:inherit;}
.custom-filter li a:hover {text-decoration:none;}
.custom-filter li label {font-family: 'Oswald', sans-serif;text-transform: uppercase;color: #929292;font-weight: 400;font-size: 1.2rem;line-height: normal;margin:0 0 10px;}
.no-result {font-family: 'Oswald', sans-serif;text-transform: uppercase;color: #929292;font-weight: 400;font-size: 1.2rem;line-height: normal;margin:0 0 10px;}
.custom-filter label:hover {cursor:pointer;color:#3fa6a6;}
.custom-filter ul {padding:0;}
.custom-filter .searchandfilter ul li {padding:0;}
.custom-filter input {position:relative;border-bottom: 2px solid #494949;padding: 10px 35px;margin: 15px 0 40px;width: 100%;font-family: 'Oswald', sans-serif;color: #929292;font-weight: 400;font-size: 1.2rem;line-height: normal}
.custom-filter input:focus {outline:none;}

footer {background:#494949;padding:40px 0;}
.redes {margin: 0 30px;background: #fff;border-radius: 100%;color: #494949;font-size: 1.1rem;width: 32px;height: 32px;}
footer p {color: #fff;font-family: 'Montserrat', sans-serif;font-weight: 600;line-height: 18px;font-size: 0.84rem;margin: 0;}
footer p a {color:inherit;}
footer a {transition:.6;text-decoration:none;color:inherit;}
footer a:hover {opacity:.6;transition:.6s;text-decoration:none;color:inherit;}

.magnific-img img {
    width: 100%;
    height: auto;
}
.magnific-img {
    display: inline-block;
    width: 32.3%;
}
a.image-popup-vertical-fit {
    cursor: -webkit-zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.98;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-arrow-left:before {
    border-right: none !important;
}
.mfp-arrow-right:before {
    border-left: none !important;
}
button.mfp-arrow, .mfp-counter {
    opacity: 0 !important;
    transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}
.mfp-container:hover button.mfp-arrow, .mfp-container:hover .mfp-counter{
	opacity: 1 !important;
}


/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  	/**
       * Remove all paddings around the image on small screen
    */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.m-15 {margin:0 -15px;}
/* CROSS BROWSING /////////////////////////////////////////// */

/* FF */

@-moz-document url-prefix() {
		
 }


/* IE 11 */

::-ms-backdrop, .looks-cont-single { 
	max-width: 1140px;
	outline: none;
}

::-ms-backdrop, .looks-cont-single .navigation { 
	bottom: -16px;
}

/* IE 10 */

@media all and (-ms-high-contrast:none) { 

}

/* MEDIA QUERIES /////////////////////////////////////////// */

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {

	.propiedad_back_01, .propiedad_back_02 {text-align:center;background-position:center;}
	.icons h2 {font-size: 1.4rem;}
	.propiedad_back_01 h3, .propiedad_back_02 h3 {left: 0;right: 50%;}
	.comerciales_fondo {background-position:center;}
	.residencial_fondo, .propuesta_fondo {background-position:center !important;}
	.newsletter #send {padding:8px 20px;}
	.portada_contacto {background-position:30%;}
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait)  {

  	.navbar-light .navbar-toggler {margin:17px 0;}
  	.menu {padding: 0;margin-top: 15px;}
  	.custom-nav ul li {display: block;margin: 10px 0;text-align: left;}
  	.navbar-toggler {border:none;}
  	.navbar-toggler:focus {outline:none;}
  	.redes {margin:0 10px;}
  	.residencial_fondo, .propuesta_fondo {background-position:left !important;}
  	.portada_sobre_mi {min-height: 35vh;}
  	.portada_sobre_mi h3 {max-width:60%;}
}

@media only screen 
  and (max-width: 767px) {

  	.portada_sobre_mi {background-position:left;}
  	footer p {text-align:center;margin:0 0 25px;}
  	footer img {margin-top:25px;}
  	.navbar-toggler {border:none;}
  	.navbar-toggler:focus {outline:none;}
  	.navbar-toggler-right {top:1.5rem;}
  	.custom-nav ul li {width:100%;text-align:left;margin:10px 0;}
  	.menu {padding:0;margin-top: 10px;}
  	.sobre_mi h3 {margin:45px 0 0;}
  	.icons h2 {margin-bottom:25px;}
  	.propiedad_back_01 , .propiedad_back_02 {background-position:center;}
  	.propiedades-info h2 {line-height:normal;}
  	.text-absulote p {color:#fff;}
  	.slider-content-exp h3 {color:#fff;}
  	.slider-content-exp p {color:#fff;height: 190px;}
  	.slider-content-exp {background-size: cover !important;background-position: center !important;}
  	form ol {margin:0 -15px;}
  	.residencial_fondo {background-position: 65% !important;}
  	.middle-box {background:#f9f9f9}

  	.newsletter form ol {margin:0;}
  	.newsletter {padding:40px 0}
  	.newsletter #submit-message-n {margin-bottom:25px;}

  	.propiedades-info h3 {font-size: 1.6rem;}
  	.comerciales h3, .middle-box h3 {font-size: 1.8rem;}

  	.portada_sobre_mi {min-height:60vh;background:#3fa6a4;}

  	
  }

/*Wordpress editor styles end*/
